<app-carousal></app-carousal>
<!-- <app-footer></app-footer> -->
<br><br>

<app-text-scroll></app-text-scroll>
<strong class="heading"> Plasma from recovered COVID-19 patients is urgently needed across hospitals.</strong>
<br><br>


<app-corousal-text></app-corousal-text>
<br><br>

<div class="about" id="about">
  <div class="container">
    <h1 class="text-center">Our Aim</h1>

    <div class="row first">
      <div class="col-lg-6 col-md-4 col-sm-12">
        <img src="../../../assets//images//plasma-donation.jpg" class="img-fluid" />

      </div>
      <div class="col-lg-6 col-md-8 col-sm-12 desc">
        <h3>Plasma Donor</h3>
        <p>Donate Plasma, Be hero saves life</p>
      </div>
    </div>

    <br /><br />

    <div class="row">
      <div class="col-lg-6 col-md-8 col-sm-12 desc">
        <h3>Plasma Receiver</h3>
        <p>To save other's life</p>
      </div>
      <div class="col-lg-6 col-md-4 col-sm-12">
        <img
          src="../../../assets/images/5266696.jpg"
          class="img-fluid" />
        <span class="text-justify">We together Defeat Corona</span>
      </div>
    </div>

    <br /><br />

    <div class="row">
      <div class="col-lg-6 col-md-4 col-sm-12">
        <img
          src="../../../assets//images/coronavirus-vaccine.jpg"
          class="img-fluid" />
        <span class="text-justify">We together Defeat Corona</span>
      </div>
      <div class="col-lg-6 col-md-8 col-sm-12 desc">
        <h3>Vaccine Registration</h3>
        <p>
          Register youself , Protect your life and your family and sourrounding
          from corona
        </p>
      </div>
    </div>
  </div>

  <br><br><br>





  <div class="container-fluid py-3">
    <div class="title h1 text-center"> </div>
    <!-- Card Start -->
    <div class="card border-0">
      <div class="row ">

        <div class="col-md-7 px-3">
          <div class="card-block px-6">

            <p class="card-text">
              The Carousel code can be replaced with an img src, no problem. The added CSS brings shadow to the card and
              some adjustments to the prev/next buttons and the indicators is rounded now. As in Bootstrap 3
            </p>
            <br>
            <strong> WE STAY AT WORK FOR YOU, YOU STAY AT HOME FOR US</strong>
          </div>
        </div>
        <!-- Carousel start -->
        <div class="col-md-5">
          <div id="CarouselTest" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#CarouselTest" data-slide-to="0" class="active"></li>
              <li data-target="#CarouselTest" data-slide-to="1"></li>
              <li data-target="#CarouselTest" data-slide-to="2"></li>

            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block" src="../../../assets//images/together.jpg" alt="">
              </div>
              <div class="carousel-item">
                <img class="d-block" src="../../../assets//images/12Z_2102.w026.n002.138B.p1.138.jpg" alt="">
              </div>
              <div class="carousel-item">
                <img class="d-block" src="../../../assets/images/frontEnWorker.jpg" alt="">
              </div>
              <div class="carousel-item">
                <img class="d-block" src="../../../assets/images/thank.jpg" alt="">
              </div>
              <a class="carousel-control-prev" href="#CarouselTest" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#CarouselTest" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
        </div>
        <!-- End of carousel -->
      </div>
    </div>
    <!-- End of card -->

  </div>

  <!-- <div class="container-fluid">
    <div class="card float-left">
      <div class="row ">

        <div class="col-sm-7">
          <div class="card-block">
                  <h4 class="card-title">Small card</h4>
            <p></p>
            <a href="#" class="btn btn-primary btn-sm">Read More</a>
          </div>
        </div>

        <div class="col-sm-5">
          <img class="d-block w-100" src="https://" alt="">
        </div>
      </div>
    </div>


    <div class="card float-right">
      <div class="row">
        <div class="col-sm-5">
          <img class="d-block w-100" src="https:" alt="">
        </div>
        <div class="col-sm-7">
          <div class="card-block">
                      <h4 class="card-title">Small card</h4>
            <p>Copy</p>
            <br>
            <a href="#" class="btn btn-primary btn-sm float-right">Read More</a>
          </div>
        </div>

      </div>
    </div>
  </div> -->

  <br><br>

</div>
<br><br>

<!-- text-change -->

<div class="container-fluid padding">
  <div class="row text-center padding">
    <div class="col-12">
      <h2 class="display-4">Connect with us</h2>

    </div>
    <div class="col-12 social padding">
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-google-plus-g"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-youtube"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
    </div>
  </div>
</div>



