
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="carousel-caption">
          <h3> <i class="fas fa-pump-medical"></i>
          </h3>
          <h3> Use Sanitizer  </h3>
        </div>
      </div>
      <div class="carousel-item">
        <div class="carousel-caption">
          <h3> <i class="fas fa-head-side-mask"></i> </h3>
          <p>Always use Mask</p>
        </div>
      </div>
      <div class="carousel-item">
        <div class="carousel-caption">
          <h3>  </h3>
          <p> Avoid Crowd </p>
        </div>
      </div>
      <div class="carousel-item">
        <div class="carousel-caption">
          <h3></h3>
          <p> Maintain 2 step distance </p>
        </div>
      </div>
      <div class="carousel-item">
        <div class="carousel-caption">
          <h3></h3>
          <p> Stay Home </p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span style="color: red;" class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

