
<mat-form-field>
  <input (keyup)="applyFilter($event.target.value)" matInput  placeholder="filter" >
</mat-form-field>

<div class="mat-elevation-z8">
<table mat-table [dataSource]="dataSource" >


  <ng-container matColumnDef="phoneNumber">
    <th mat-header-cell *matHeaderCellDef > phoneNumber </th>
    <td mat-cell *matCellDef="let element"> {{element.phoneNumber}} </td>
  </ng-container>

  <ng-container matColumnDef="firstName">
    <th mat-header-cell *matHeaderCellDef > FirstName </th>
    <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
  </ng-container>

  <ng-container matColumnDef="lastName">
    <th mat-header-cell *matHeaderCellDef > lastName </th>
    <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
  </ng-container>


  <ng-container matColumnDef="state">
    <th mat-header-cell *matHeaderCellDef > state </th>
    <td mat-cell *matCellDef="let element"> {{element.state}} </td>
  </ng-container>


  <ng-container matColumnDef="district">
    <th mat-header-cell *matHeaderCellDef > district </th>
    <td mat-cell *matCellDef="let element"> {{element.district}} </td>
  </ng-container>

  <ng-container matColumnDef="pincode">
    <th mat-header-cell *matHeaderCellDef > pincode </th>
    <td mat-cell *matCellDef="let element"> {{element.pincode}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
</mat-paginator>
</div>

